/*******************************
max-reset
    a light css framework
	author:  Max Zhang
	site:    www.zhaimax.com
	update:  2013.5.12
*******************************/


/* base reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
body{font-family:SongTi,Arial;margin:0 auto;background:#FFF;font-size:12px;}
table {border-collapse:collapse;border-spacing:0;}
img {border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
a {text-decoration:none;}
a:hover {text-decoration: underline;}

/* layout pre */
.pal5 {padding-left:5px;}
.pal10 {padding-left:10px;}
.pal15 {padding-left:15px;}
.pal20 {padding-left:20px;}
.par5 {padding-right:5px;}
.par10 {padding-right:10px;}
.par15 {padding-right:15px;}
.par20 {padding-right:20px;}
.pat5 {padding-top:5px;}
.pat10 {padding-top:10px;}
.pat15 {padding-top:15px;}
.pat20 {padding-top:20px;}
.pab5 {padding-bottom:5px;}
.pab10 {padding-bottom:10px;}
.pab15 {padding-bottom:15px;}
.pab20 {padding-bottom:20px;}
.mal5 {margin-left:5px;}
.mal10 {margin-left:10px;}
.mal15 {margin-left:15px;}
.mal20 {margin-left:20px;}
.mar5 {margin-right:5px;}
.mar10 {margin-right:10px;}
.mar15 {margin-right:15px;}
.mar20 {margin-right:20px;}
.mat5 {margin-top:5px;}
.mat10 {margin-top:10px;}
.mat15 {margin-top:15px;}
.mat20 {margin-top:20px;}
.mab5 {margin-bottom:5px;}
.mab10 {margin-bottom:10px;}
.mab15 {margin-bottom:15px;}
.mab20 {margin-bottom:20px;}

/* float pre */
.l {float:left;}
.r {float:right;}
.clear {clear:both;}

/* text-align pre */
.tal {text-align:left;}
.tar {text-align:right;}
.tac {text-align:center;}

/* color pre */
.red {color:red;}
.blue {color:blue;}
.yellow {color:yellow;}
.green {color:green;}
.black {color:black;}
.white {color:white;}
.gray {color:#666;}
.light_gray {color:#ccc;}

/*  font pre */
.b {font-weight:bold;}
.i {font-style:italic;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}
.font20 {font-size:20px;}
.font22 {font-size:22px;}

/* display */
.hide {display:none;}
.show {display:block:}
.hidden {overflow:hidden;}

/* position */
.z {z-index:999;}
.rel {position:relative;}
.abs {position:absolute;}

/* cursor */
.point {cursor:pointer;}




